
@{
    ViewData["Title"] = "Administration";
}
    <ul class="nav navbar-nav">
        <li><a asp-controller="users" asp-action="index"><i class="fa fa-user"></i> User</a></li>
        <li><a asp-controller="roles" asp-action="index"><i class="fa fa-wrench"></i> Role</a></li>
        <li><a asp-controller="products" asp-action="index"><i class="fa fa-shopping-cart"></i> Product</a></li>
        <li><a asp-controller="categories" asp-action="index"><i class="fa fa-wrench"></i> Category</a></li>
    </ul>

