@model ProductViewModel

<!-- Start Product Details -->
<div class="container">
    <div class="product-quick-view">
        <div class="row align-items-center">
           
            <div class="col-lg-6">
              
                    <div class="item" >
                        <img src="@Model.product.Image" style="height:500px; width:500px" alt="" />
                    </div>

                
            </div>

            <div class="col-lg-6">
                <div class="quick-view-content">
                    <div class="top">
                        <h3 class="head">@Model.product.Name</h3>
                        <div class="price d-flex align-items-center">
                            <span class="lnr lnr-tag"></span> <span class="ml-10">$@Model.product.Price</span>
                        </div>
                        <div class="category">Category: <span>@Model.product.Category.Name</span></div>
                        <div class="available">Availibility: <span>In Stock</span></div>
                        <div class="category">Seller: <span>@Model.product.Sell</span></div>
                    </div>
                    <div class="middle">
                        <p class="content">add decription</p>
                    </div>
                    <div>
                        <div class="quantity-container d-flex align-items-center mt-15">
                            Quantity:
                            <input type="text" class="quantity-amount ml-15" value="1" />
                            <div class="arrow-btn d-inline-flex flex-column">
                                <button class="increase arrow" type="button" title="Increase Quantity">
                                    <span class="lnr lnr-chevron-up"></span>
                                </button>
                                <button class="decrease arrow" type="button" title="Decrease Quantity">
                                    <span class="lnr lnr-chevron-down"></span>
                                </button>
                            </div>

                        </div>
                        <div class="d-flex mt-20">
                            <a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
                            <a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
                            <a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="details-tab-navigation d-flex justify-content-center mt-30">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li>
                <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab"
                   aria-controls="description" aria-expanded="true">Description</a>
            </li>
            <li>
                <a class="nav-link" id="specification-tab" data-toggle="tab" href="#specification" role="tab"
                   aria-controls="specification">Specification</a>
            </li>
            <li>
                <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab"
                   aria-controls="comments">Comments</a>
            </li>
            <li>
                <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                   aria-controls="reviews">Reviews</a>
            </li>
        </ul>
    </div>
</div>



    <div class="add-review">
        <h3>Add a Review</h3>
        <div class="single-review-count mb-15 d-flex align-items-center">
            <span>Your Rating:</span>
            <div class="total-star five-star d-flex align-items-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
            </div>
            <span>Outstanding</span>
        </div>
       
    </div>





